/* Variables */

:root {
    --c-arriere-plan: hsl(0, 0%, 0%);
}

/* Initialisation */

* {
    margin: 0;
}

/* Décors */

main {
    background: var(--c-arriere-plan);

    height: 100vh;
    width: 100vw;
}